{{define "nexthome"}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" "Decred Block Explorer by dcrdata.org"}}
<style>
    a.holder {
        display: block;
    }

    .mempool.block.row {
        margin-bottom: 20px;
    }

    .block.row {
        line-height: 1;
        margin-bottom: 2px;
    }

    .fixed-height-content-holder {
      height: 16px;
        overflow: hidden;
    }

    .fixed-height-content-holder > div {
      display: inline-block;
      height: 16px;
    }

    .fixed-height-content-holder > div:before {
        content: ''
    }

    .regular-tx {
      background-color: #b6b6b6;
    }

    .ticket, .revocation {
        width: 2.5%;
        margin: 0;
    }
    .ticket {
        background-color: #6ddb6d;
    }

    .vote {
        width: calc(10% - 3px);
        margin: 0;
    }
    .vote.valid {
        background-color: #6d92db;
    }
    .vote.invalid {
        background-color: #b62424;
    }

    .revocation {
        background-color: #feb603;
    }
    .revocation:first-child {
        margin-left: 10px;
    }
</style>
<body>
    {{ template "navbar" . }}
    <div id="mainContainer" class="container" data-controller="main">
        <div class="row">
            <div class="col-lg-6 networkStatsWrapper font-weight-bold">
                <a class="no-underline" href="/statistics">
                    <h3 class="title font-weight-bold" >{{.NetName}} Network Statistics</h3>
                </a>
                {{with .Info}}
                <div class="statCard general">
                    <div class="row">
                        <div class="col-12">
                            <span><img src="/images/general.png" alt="general"><p class="statcard-title">General</p></span>
                        </div>
                        <div class="col-sm-4">
                            <div class="heading">Available Supply (of 21 mil)</div>
                            <div id="coin-supply" class="data mono lh1rem fs14-decimal count fs24 p03rem0">
                                <span id="coin-supply">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .CoinSupply) 0 true)}}
                                </span>
                                <span class="pl-1 unit lh15rem">DCR</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="heading">Dev Reward</div>
                            <div class="data mono lh1rem fs14-decimal count fs24 p03rem0">
                                <span id="bsubsidy-dev">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .NBlockSubsidy.Dev) 8 true 2)}}
                                </span>
                                <span class="pl-1 unit lh15rem"> DCR</span>
                            </div>
                        </div>
                        {{if .DevFund}}
                        <div class="col-sm-4">
                            <div class="heading"><a href="/address/{{.DevAddress}}">Project Fund</a></div>
                            <div class="data mono lh1rem fs14-decimal count fs24 p03rem0">
                                <span id="dev-fund">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .DevFund) 0 true)}}
                                </span>
                                <span class="pl-1 unit lh15rem"> DCR</span>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>

                <div class="statCard general">
                    <div class="row">
                        <div class="col-12">
                            <span><img src="/images/staking.png" alt="staking"><p class="statcard-title">Staking</p></span>
                        </div>
                        <div class="col-sm-4">
                            <div class="heading">Total Locked DCR</div>
                            <div class="data mono lh1rem fs14-decimal count fs24 p03rem0">
                                <span id="pool-value">
                                    {{template "decimalParts" (float64AsDecimalParts .PoolInfo.Value 0 true)}}
                                </span>
                                <span class="pl-1 unit lh15rem">DCR</span>
                            </div>
                            <div class="subdata">
                                <span class="count" id="pool-info-percentage">({{printf "%.2f" .PoolInfo.Percentage}} % of total supply)</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="heading">PoS Reward</div>
                            <div class="data mono lh1rem fs14-decimal count fs24 p03rem0">
                                <span id="bsubsidy-pos">
                                    {{template "decimalParts" (float64AsDecimalParts (toFloat64Amount (divide .NBlockSubsidy.PoS 5)) 8 true 2)}}
                                </span>
                                <span class="pl-1 unit lh15rem" style="font-size:13px;">DCR/vote</span>
                            </div>
                            <div class="subdata">
                                <span id="ticket-reward" class="count">({{template "fmtPercentage" .TicketReward}} per ~{{.RewardPeriod}})</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="heading">
                                <a class="no-underline" href="/charts#ticket-price">Ticket Price</a>
                            </div>
                            <div class="data mono lh1rem fs14-decimal count fs24 p03rem0">
                                <span id="ticket-price">{{template "decimalParts" (float64AsDecimalParts .StakeDiff 8 false 2)}}</span>
                                <span class="pl-1 unit lh15rem">DCR</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="statCard general">
                    <div class="row">
                        <div class="col-12">
                            <span><img src="/images/mining.png" alt="mining"><p class="statcard-title">Mining</p></span>
                        </div>
                        <div class="col-sm-4">
                            <div class="heading">
                                <a class="no-underline" href="/charts#pow-difficulty">Difficulty</a>
                            </div>
                            <div class="data mono lh1rem fs14-decimal count fs24 p03rem0">
                                <span id="diff">{{template "decimalParts" (float64AsDecimalParts (divideFloat .Difficulty 1000000.0) 0 true)}}</span>
                                <span class="pl-1 unit lh15rem">Mil</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="heading">PoW Reward</div>
                            <div class="data mono lh1rem fs14-decimal count fs24 p03rem0">
                                <span id="bsubsidy-pow">{{template "decimalParts" (float64AsDecimalParts (toFloat64Amount .NBlockSubsidy.PoW) 8 true 2)}}</span>
                                <span class="pl-1 unit lh15rem">DCR</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="heading">Hashrate</div>
                            <div class="data mono lh1rem fs14-decimal count fs24 p03rem0">
                                <span id="hashrate">{{template "decimalParts" (float64AsDecimalParts .HashRate 8 true 2)}}<span>
                                <span class="pl-1 unit lh15rem">Ph/s</span>
                            </div>
                            <div class="subdata">
                                <span id="hashrate-subdata" class="count">({{template "fmtPercentage" .HashRateChange}} in 24h)</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}

            </div>

            <div class="col-lg-6 decBlockchainWrapper">
                <a class="no-underline" href="/blocks">
                    <h3 class="title font-weight-bold">Decred Blockchain</h3>
                </a>
                
                {{with .Mempool}}
                <a class="no-underline holder" href="/mempool">
                    <div class="mempool block row">
                        <div class="col-sm-4 fixed-height-content-holder">
                            <div class="regular-tx" data-value="{{.NumRegular}} transactions" style="width: {{percentage (int64 .NumRegular) (int64 10)}}%"></div>
                        </div>
                        <div class="col-sm-4 fixed-height-content-holder" data-size="{{len .Tickets}} tickets">
                            {{ range .Tickets}}
                            <div class="ticket"></div>
                            {{end}}
                        </div>
                        <div class="col-sm-4">
                            <div class="fixed-height-content-holder" data-size="{{len .Votes}} votes">
                                {{ range .Votes}}
                                <div class="vote {{if .VoteInfo.Validation.Validity}}valid{{else}}invalid{{end}}"></div>
                                {{end}}
                            </div>

                            {{if gt .NumRevokes 0}}
                            <div class="fixed-height-content-holder" data-size="{{len .Revocations}} revocations">
                                {{ range .Revocations}}
                                <div class="revocation"></div>
                                {{end}}
                            </div>
                            {{end}}
                        </div>
                    </div>
                </a>
                {{end}}

                {{range .Blocks}}
                <a class="no-underline holder" href="/block/{{.Height}}">
                    <div class="block row">
                        <div class="col-sm-4 fixed-height-content-holder">
                            <div class="regular-tx" data-value="{{.Transactions}} transactions" style="width: {{percentage (int64 .Transactions) (int64 10)}}%"></div>
                        </div>
                        <div class="col-sm-4 fixed-height-content-holder" data-size="{{len .Tickets}} tickets">
                            {{ range .Tickets}}
                            <div class="ticket"></div>
                            {{end}}
                        </div>
                        <div class="col-sm-4">
                            <div class="fixed-height-content-holder" data-size="{{len .Votes}} votes">
                                {{ range .Votes}}
                                <div class="vote {{if .VoteInfo.Validation.Validity}}valid{{else}}invalid{{end}}"></div>
                                {{end}}
                            </div>

                            {{if .Revocations}}
                            <div class="fixed-height-content-holder" data-size="{{len .Revocations}} revocations">
                                {{ range .Revs}}
                                <div class="revocation"></div>
                                {{end}}
                            </div>
                            {{end}}
                        </div>
                    </div>
                </a>
                {{end}}

                <br>
                <a class="no-underline" href="/blocks"><div class="showmore"><p>View BlockChain History</p></div></a>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            var count = 0;
            $(".decBlockchainWrapper .decredblockWrap").click(function(){
                $(this).toggleClass("expanded");
                count++;

                if (count > 1) {
                    $(".decBlockchainWrapper .decredblockWrap").removeClass("expanded");
                    count = 0;
                }
            });

            $(".decredblockWrap").click(function() {
                if ($( ".decredblockWrap" ).hasClass( "expanded" )) {
                    $( ".decredblockWrap" ).siblings().addClass("fade");
                } else {
                    $( ".decredblockWrap" ).siblings().removeClass("fade");
                }
            });
        })
    </script>

    {{ template "footer" . }}
</body>
</html>
{{end}}
